<div class="row">
  <div class="container">
    <div class="row">
      <form class="form-inline" action="" method="get">
          <input type="hidden" name="ets" value="{{ app.request.query.get('ets') }}"/>
          <input type="hidden" name="departement" value="{{ app.request.query.get('departement') }}"/>
          <div class="form-group">     
            <select name="semestre" id="select" class="form-control" >
              <option value=''>Tout les semestres</option>
              {% for semestre in semestres %}
                <option value="{{semestre.id}}" >{{semestre}}</option>
              {% endfor %}
            </select>
          </div>
            <select name="ue" id="select" class="form-control" >
              <option value="">Tout les UE</option>
              {% for matiere in matieres %}
                  <option value="{{matiere.id}}">{{matiere.libelle}}</option>
              {% endfor %}
                {# {% for opepreuve in opepreuves %}
                    {% if opepreuve.matiere.departement.id ==  depn %}
                      <option value="{{opepreuve.matiere.id}}">{{opepreuve.matiere.libelle}}</option>
                    {% endif %}
                {% endfor %} #}
              
            </select>
            <input name="annee" placeholder="Annee" type="text" class="form-control" />
            <select name="evaluation" id="select" class="form-control" >
              <option value=''>Tout les Types d'examen</option>
              {% for evaluation in evaluations %}
                <option value="{{evaluation.id}}" >{{evaluation}}</option>
              {% endfor %}
              
            </select>
            </div>
            <div class="form-group">
            
        <button type="submit" class="btn btn-default">Envoyer</button>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <ul class="list-group">
      <a href="#" class="list-group-item bg-success">
        DEPARTEMENTS
      </a>
      {% for etablissement in etablissements %}
        {% if app.request.query.get('ets') == etablissement.id %}
          {% for departement in etablissement.departements %}
            <a href="{{ path('u_epreuves',{ 'ets':app.request.query.get('ets'),'departement':departement.id}) }}" class="list-group-item {% if departement.id == depn %}active{% endif %}">
              <span class="glyphicon glyphicon-chevron-right pullright"></span>
                {{ departement }}
            </a>
          {% endfor %}  
        {% endif %}
      {% endfor %}
</ul>
  </div>
  <div class="col-md-8">
     <table class="table">
              <tr>
                <th>UE</th>
                <th>ANNEE</th>
                <th>SEMESTRE</th>
                <th>TYPE D'EVALUATION</th>
              </tr>
              {% for epreuve in epreuves %}
                  {% if epreuve.matiere.departement.id ==  depn %}
                      <tr>
                        <td><a href="{{ asset('uploads/epreuves/' ~ epreuve.file) }}">{{epreuve.matiere.libelle}}</a></td>
                        <td>{{epreuve.annee}}</td>
                        <td>{{epreuve.semestre}}</td>
                        <td>{{epreuve}}</td>
                      </tr>
                  {% endif %}
              {% endfor %}
          </table>
  </div>
</div>  