{% extends 'base.html.twig' %}
{% block body %}
	{% if epreuves|length >0 %}
		<h2>Liste des épreuves</h2>
		<table class="table table-hover">
			<thead>
				<tr class="table-primary">
					<th scope="row">Etablissements</th>
					<th scope="row">Départements</th>
					<th scope="row">Matières</th>
					<th scope="row">Epreuves</th>
				</tr>
			</thead>
			<tbody>
				{% for epreuve in epreuves %}
				    <tr class="table-light">
				    	<td scope="row">{{epreuve.matiere.departement.etablissement}}</td>
				    	<td scope="row">{{epreuve.matiere.departement}}</td>
				    	<td scope="row">{{epreuve.matiere}}</td>
				    	<td scope="row"><a href="{{asset('uploads/epreuves/' ~ epreuve.file)}}">{{epreuve}}</a></td>
				    </tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
	    <p>Il n' y a pas encore d'épreuves enregistrées</p>
	{% endif %}
	<hr/>
    <a href="{{path('epreuves_create')}}"><button class="btn btn-info">Ajouter une nouvelle épreuve</button></a>
{% endblock %}
